---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica", Helvetica, Roboto, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.5;
$base-line-height: 1.5;

// From Design team
$gray-darker:      #323232;
$gray-dark:        #54544F;
$gray-light:       #8F8F87;
$gray-lighter:     #9d9d9d;
$green-darkest:    #005d1f;
$green-darker:     #00862d;
$green-dark:       #009933;
$green-light:      #33cc33;
$black:            #222;
$black-darker:     #111;
$white:            #fff;

// Other
$spacing-unit:        30px;
$event-blurb-height:  200px;

$text-color:       $gray-lighter;
$background-color: $black;
$footer-color:     $black-darker;
$brand-color:      #2a7ae2;


@import "minima";
// Import the bootstrap theme
@import "bootstrap";

// Bootstrap Fix
body {
  background-color: $footer-color;
  color:            $text-color;
}

footer {
  padding: 5px 20px;
}

  footer > ul {
    list-style: none;
  }

a {
  color: $green-dark;
}

  a:visited {
    color: $green-darkest;
  }

  a:hover {
    color: $green-light;
  }

main {
  background-color: $background-color;
  padding-bottom: 30px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-inverse {
  background-color: $footer-color;
  border: none;
}

.carousel-inner {
  max-height: 400px !important;
}

  .carousel-inner > .item > a > img {
    width: 100%;
  } 

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-max {
  max-width: 100%;
}

.hp-games {
  height: 100px;
}

  @media (min-width: $screen-sm-min) {
    .hp-games {
      height:150px;
    }
  }

a:hover .hp-games {
  background-color: $gray-lighter;
}

.image-padding {
  padding: 10px;
}

$sponsor-logo-esi-height: 100px;
.sponsor-logo-esi {
  background-color: $gray-darker;
  height: $sponsor-logo-esi-height;
  padding: 10px;
}

.sponsor-logo-esi:hover {
  background-color: $gray-dark;
}

  .sponsor-logo-esi img {
    max-height: $sponsor-logo-esi-height - 20;
  }

.pad-sides {
  padding-left:  10px;
  padding-right: 10px;
}

.event-list {
  max-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

  .event-list > ul {
    list-style: none;
  }

.event-listing {
  background-color: $gray-darker;
  padding: 15px;
  font-size: $base-font-size;
  margin-bottom: 30px;
}

  .event-listing .row > div {
    height: 100%;
  }

  .event-listing img {
    max-height: 100px;
  }

  .event-listing ul {
    list-style: none;
  }
  
  .event-listing i {
    width: 50px;
  }

  .event-listing li span {
    color: $text-color;
  }

  @media (min-width: $screen-sm-min) {
    .event-listing .row {
      height: $event-blurb-height;
    }

    .event-listing img {
      max-height: 100%;
    }
  }

.event-blurb-games > i, .event-blurb-games > span {
  float: left;
  margin: 0px;
}

  .event-blurb-games > span > ul {
    margin-left: 7px;
  }

  .event-blurb-games > span > ul > li {
    display: inline;
  }

.hp-games-hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.game-image {
  height: 300px;
  max-height: 300px;
}

  .game-image > .align-max {
    width: 100%;
    max-height: inherit;
  }

  .game-image img {
    width: 100%;
    max-height: inherit
  }

.link-to-fb-logo {
	max-height: 100px;
}

.timeline-Widget {
	background-color: none;
}

.social-media-logo {
  display: inline;
  font-size: 4em;
}
.social-media-logo a {
  color: $green-darker;
}
.social-media-logo:hover a {
  color: $green-light;
}

.site-nav .page-link {
  color: rgb(100,100,100);
  text-decoration: none;
}
.site-nav .page-link:hover {
  color: rgb(200,200,200);
  text-decoration: none;
}

.sponsor-logo-display {
  background-color: $gray-darker;
  padding: 30px;
  height: 340px;
}

.sponsor-logo-display:hover {
  background-color: $gray-dark;
}

  .sponsor-logo-display img {
    max-height: 280px;
  }

.sponsor-desc {
  background-color: $black-darker;
  padding: 25px;
  height: 150px;
}
