---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica", Helvetica, Roboto, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// From Design team
$gray-darker:      #323232;
$gray-dark:        #54544F;
$gray-light:       #8F8F87;
$gray-lighter:     #9d9d9d;
$green-darker:     #00862d;
$green-dark:       #009933;
$green-light:      #33cc33;
$black:            #222;
$black-darker:     #111;
$white:            #fff;

// Other
$spacing-unit:     30px;

$text-color:       $black-darker;
$background-color: $black;
$brand-color:      #2a7ae2;


@import "minima";
// Import the bootstrap theme
@import "bootstrap";

// Bootstrap Fix
body {
  background-color: $background-color;
  color:            $gray-lighter;
}

footer {
  background-color: $black-darker;
  padding: 5px 20px;
}

  footer > ul {
    list-style: none;
  }

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-max {
  max-width: 100%;
}

.hp-games {
  height: 100px;
}

  @media (min-width: $screen-sm-min) {
    .hp-games {
      height:150px;
    }
  }

a:hover .hp-games {
  background-color: $gray-lighter;
}

.image-padding {
  padding: 10px;
}

$sponsor-logo-esi-height: 100px;
.sponsor-logo-esi {
  background-color: $gray-darker;
  height: $sponsor-logo-esi-height;
  padding: 10px;
}

  .sponsor-logo-esi img {
    max-height: $sponsor-logo-esi-height - 20;
  }

.pad-sides {
  padding-left:  10px;
  padding-right: 10px;
}

.event-list {
  max-height: 1000px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hp-games-hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.game-image {
  height: 300px;
  max-height: 300px;
}

  .game-image > .align-max {
    width: 100%;
    max-height: inherit;
  }

  .game-image img {
    width: 100%;
    max-height: inherit
  }

.link-to-fb-logo {
	max-height: 100px;
}

.timeline-Widget {
	background-color: none;
}

.social-media-logo {
  display: inline;
  font-size: 4em;
}
.social-media-logo a {
  color: $green-darker;
}
.social-media-logo:hover a {
  color: $green-light;
}

.site-nav .page-link {
  color: rgb(100,100,100);
  text-decoration: none;
}
.site-nav .page-link:hover {
  color: rgb(200,200,200);
  text-decoration: none;
}

.sponsor-logo-display {
  background-color: rgb(50,50,50);
  padding: 50px;
  height: 340px;
}
.sponsor-logo-display img {
  max-height: 280px;
}

.sponsor-desc {
  background-color: rgb(20,20,20);
  padding: 25px;
  height: 150px;
}

.sponsor-logo-display {
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.sponsor-logo-display:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.sponsor-logo-display img {
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}
