---
layout: default
---

<div class="home">

  <div class="row">
    {% include image-carousel.html %}
  </div>

  {% assign dota = site.data.games["dota"] %}
  {% assign leagueoflegends = site.data.games["leagueoflegends"] %}
  {% assign smash = site.data.games["smash"] %}
  {% assign esi = site.data.games["esi"] %}
  {% assign csgo = site.data.games["csgo"] %}
  {% assign hearthstone = site.data.games["hearthstone"] %}
  {% assign overwatch = site.data.games["overwatch"] %}
  <div class="row">
    <div class="col-xs-12">
      <hr class="row hp-games-hr" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div class="row">
        {% include templates/hp-gs.html game=dota %}
        {% include templates/hp-gs.html game=leagueoflegends %}
        {% include templates/hp-gs.html game=smash %}
      </div>
    </div>
    <div class="col-sm-2 hidden visible-sm visible-md visible-lg">
      {% include templates/hp-gs.html game=esi classes="pad-sides" %}
    </div>
    <div class="col-sm-5 col-xs-12">
      <div class="row">
        {% include templates/hp-gs.html game=csgo %}
        {% include templates/hp-gs.html game=hearthstone %}
        {% include templates/hp-gs.html game=overwatch %}
      </div>      
    </div>
    <div class="col-xs-12">
      <hr class="row hp-games-hr" />
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-8 col-sm-push-4">
      <h1>Upcoming Events</h1>
      <div class="event-list">
        <ul class="post-list">
          {% for event in site.events reversed limit:6 %}
            {% include event-blurb.html event=event %}
          {% endfor %}
        </ul>
        <p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-pull-8">
      <div>
        <h1>About</h1>
        <p>The eSports Initiative (ESI) is a student organization at The Ohio State University dedicated to running casual and competitive gaming events.</p>
      </div>

      <div>
        <h1>Competitive Teams</h1>
        <iframe style="width: 100%; height: 100%" src="https://www.youtube.com/embed/4a1_Me-Nywg" frameborder="0" allowfullscreen></iframe>
      </div>

      <div>
        <h1>Sponsors</h1>
        <div class="row">
          {% for sponsor in site.data.sponsors %}
            <div class="col-xs-6 image-padding">
              <div class="sponsor-logo-esi aligner">
                {% include templates/image-link.html info=sponsor %}   
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
