<p>
  <i class="fa fa-calendar-o" aria-hidden="true"></i>
  <span class="post-meta">{{ include.date | date: "%b %-d, %Y" }}</span>
</p>
<p>
  <i class="fa fa-clock-o" aria-hidden="true"></i>
  <span class="post-meta">
    {% if include.date-end != null %}
      {{ include.date | date: "%I:%M %p" }} - {{ include.date-end | date: "%I:%M %p" }}
    {% else %}
      {{ include.date | date: "%I:%M %p" }}
    {% endif %}
  </span>
</p>
<p>
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <span class="post-meta">{{ include.location | escape }}</span>
</p>
