<li class="post-listing">
  <a class="post-link" href="{{ include.event.event-link | prepend: site.baseurl }}">
    <div class="row">
      <div class="col-xs-2">
        <img src="{{ include.event.image-link }}" alt="{{ include.event.title }}" />
      </div>
      <div class="col-xs-10">
        <h2>
          {{ include.event.title | escape }}
        </h2>

        <span class="post-meta">{{ include.event.real-date | date: "%b %-d, %Y" }}</span>

        <span class="post-meta">{{ include.event.location | escape }}</span>

        <span class="post-meta">{{ include.event.time | escape }}</span>
      </div>
    </div>
  </a>
</li>
