<li class="post-listing">
  <a class="post-link" href="{{ include.event.url | prepend: site.baseurl }}">
    <div class="row aligner">
      <div class="col-xs-12 col-sm-2 align-max">
        <img src="{{ include.event.image-link | prepend: site.baseurl }}" alt="{{ include.event.title }}" />
      </div>
      <div class="col-xs-12 col-sm-10">
        <h2>
          {{ include.event.title | escape }}
        </h2>

        <div class="row">
          <div class="col-xs-12 col-sm-9">
            {% include templates/event-summary.html date=include.event.date date-end=include.event.date-end location=include.event.location %}
            <p>
              <i class="fa fa-info" aria-hidden="true"></i> {{ include.event.description }}
            </p>
          </div>
          <div class="col-xs-12 col-sm-3">
            {% if include.event.games %}
              <h4>Featuring:</h4>
              <ul>
                {% for game in include.event.games %}
                  <li>{{ game }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </a>
</li>
