<footer>

  <div class="container">

    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <div class="row">
          <h2>{{ site.title | escape }}</h2>
          <p>2011-2016 &copy; The {{ site.title | escape }}</p>
        </div>
      </div>

      <div class="col-sm-5 col-xs-12">
        <div class="row">
          <h3>Follow Us</h3>
        </div>
        <div class="row">
          <!-- http://fontawesome.io/icons/ -->
          <ul class="footer-links">
            {% if site.twitch_username %}
            <li>
              {% include icon-all.html icon="fa fa-twitch" link=site.twitch_link username=site.twitch_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-all.html icon="fa fa-twitter" link=site.twitter_link username=site.twitter_username %}
            </li>
            {% endif %}

            {% if site.facebook_username %}
            <li>
              {% include icon-all.html icon="fa fa-facebook-official" link=site.facebook_link username=site.facebook_username %}
            </li>
            {% endif %}

            {% if site.instagram_username %}
            <li>
              {% include icon-all.html icon="fa fa-instagram" link=site.instagram_link username=site.instagram_username %}
            </li>
            {% endif %}

            {% if site.challonge_username %}
            <li>
              {% include icon-all.html icon="fa fa-trophy" link=site.challonge_link username=site.challonge_username %}
            </li>
            {% endif %}

            {% if site.youtube_username %}
            <li>
              {% include icon-all.html icon="fa fa-youtube" link=site.youtube_link username=site.youtube_username %}
            </li>
            {% endif %}

            {% if site.github_username %}
            <li>
              {% include icon-all.html icon="fa fa-github" link=site.github_link username=site.github_username %}
            </li>
            {% endif %}

            {% if site.email %}
            <li>
              {% assign email_link = "mailto:" | append: site.email %}
              {% include icon-all.html icon="fa fa-envelope" link=site.email_link username=site.email %}
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </div>

</footer>
