<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.logo | prepend: site.baseurl }}" />
    </a>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.category == "menu-bar" %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">
              {{ my_page.title | escape }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
