{% assign image = include.image %}
{% assign link = include.link %}
{% assign discription = include.discription %}

{% if image == null %}
  {% assign image = include.info.image %}
{% endif %}

{% if link == null %}
  {% assign link = include.info.link %}
{% endif %}

{% if discription == null %}
  {% assign discription = include.info.discription %}
{% endif %}


<div class="col-md-4" style="margin-top: 50px">
  <div class="sponsor-logo-display">
    {% include templates/image-link.html image=image link=link %}
  </div>
  <div class="sponsor-desc">
    <p>{{ discription }}</p>
  </div>
</div>
