{% assign image = include.image %}
{% assign link = include.link %}
{% assign discription = include.discription %}

{% if image == null %}
  {% assign image = include.info.image %}
{% endif %}

{% if link == null %}
  {% assign link = include.info.link %}
{% endif %}

{% if discription == null %}
  {% assign discription = include.info.discription %}
{% endif %}


<div class="col-md-4" style="margin-top: 50px">
  <a href="{{ link }}">
    <div class="sponsor-logo-display aligner">
      <div class="align-max">
        <img src="{{ image | prepend: site.baseurl }}" />
      </div>
    </div>
  </a>
  <div class="sponsor-desc">
    <p>{{ discription }}</p>
  </div>
</div>
