.btn-esi {
  @include button-variant-esi($white, $green-dark, $green-light, $green-darkest);
}

.event-listing {
  background-color: $gray-darker;
  font-size: $base-font-size;
  margin-bottom: 15px;

  .row {
    padding: 15px;
  }

  :hover {
    background-color: $gray-dark;
    text-decoration: none;
  }

  img {
    max-height: 100px;
    max-width: 100%;
  }

  h2 {
    margin-top: 10px;
  }

  @media (min-width: $screen-sm-min) {
    .row {
      display: flex;
    }

    img {
      max-height: 100%;
    }

    h2 {
      margin-top: 0px;
    }
  }
}

.event-blurb-games {
  > i, > span {
    float: left;
    margin: 0px;
  }

  > span > ul {
    margin-left: 7px;
  }

  > span > ul > li {
    display: inline;
  }
}
