.hp-games {
    height: 100px;

    img {
        width: 100%;
    }

    @media (min-width: $screen-sm-min) {
        height:150px;
    }
}

a:hover .hp-games {
    background-color: $gray-lighter;

    .hidden {
        background-color: $background-color;
        cursor: default;
    }
}
