a:hover .hp-games {
    background-color: $gray-lighter;
}

.hp-games {
    height: 100px;

    img {
        max-width: 100%;
    }

    .hp-games-esi-logo {
        padding-left:  10px;
        padding-right: 10px;
    }

    @media (min-width: $screen-sm-min) {
        height:150px;
    }
}

.hp-event-list {
    max-height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
}
