---
layout: default
---
{% assign game = site.data.games[page.game] %}
<section>
	
	<header class="row">
		<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 aligner game-image">
			<div class="align-max">
				<img src="{{ game.image }}" alt="{{ game.name-display }}">
			</div>
		</div>
	</header>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h1>{{ game.name-display }}</h1>
			<div>
				<h3>Community involvement:</h3>
				{% for cl in game.community %}
					<a href="{{ cl.link }}"><span>{{ cl.name }}</span></a>
				{% endfor %}
			</div>
			<div>
				{{ content }}
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3>{{ game.name-display }} Events</h3>
			<ul class="post-list">
				{% assign games = site.events | where:"games",game.name %}
				{% for event in games reversed limit:6 %}
					{% include event-blurb.html event=event %}
				{% endfor %}
			</ul>
		</div>
	</div>

</section>
