---
layout: team
title: "League of Legends"
logo: /images/logos/lol.png
---

<!--<div class="info-message">
	<h4>Want to be part of the action? Apply today!</h4>
	<p>Players: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdLi6aRM3B4kjbM60cmtYj87Jj1zy1rGT9BHC9w3wBsPIsyfw/viewform?">Application</a></p>
	<p>For other inquiries please contact <a href="mailto:ferguson.571@osu.edu">Peter Ferguson</a> at ferguson.571@osu.edu</p>
</div>-->

<div class="info-message">
	<h3>Recent Results:</h3>

	<h4>Placements</h4>
	<div class="row">
		<div class="col-md-3 recent-game">
			<h4>AllMid Gencon</h4>
			<p>August 2016</p>
			<div style="text-align: center; color: #FFD739;"><span style="font-size: 16pt">1</span><span style="font-size: 10pt">st</span></div>
		</div>
		<div class="col-md-3 recent-game">
			<h4>AllMid Indypopcon</h4>
			<p>June 2016</p>
			<div style="text-align: center; color: #BEBEBE;"><span style="font-size: 16pt">2</span><span style="font-size: 10pt">nd</span></div>
		</div>
		<div class="col-md-3 recent-game">
			<h4>BTN Invitational</h4>
			<p>April 2016</p>
			<div style="text-align: center; color: #FFD739;"><span style="font-size: 16pt">1</span><span style="font-size: 10pt">st</span></div>
		</div>
		<div class="col-md-3 recent-game">
			<h4>ULoL Regional Playoffs</h4>
			<p>March 2016</p>
			<div style="text-align: center; color: #BEBEBE;"><span style="font-size: 16pt">2</span><span style="font-size: 10pt">nd</span></div>
		</div>
	</div>
</div>

<div id="full-screen-display">
	<img src= "/images/teams/lol/lol-map.jpg" />
	<div id="player-container">
		{% assign players = site.data.teams.leagueoflegends["players"] %}
		{% for pname in players %}
			{% assign player = site.data.teams.leagueoflegends[pname] %}

			<a id="{{ player.position | downcase | prepend: 'lol-' }}" class="player-image" href="{{ player.link | prepend: site.baseurl }}">
				{% if player.position == "Support" or player.position == "ADC" %}
					<h3 class="player-name">{{ player.name }}</h3>
					<img src="{{ player.image | prepend: site.baseurl }}" alt="{{ player.name }}">
				{% else %}
					<img src="{{ player.image | prepend: site.baseurl }}" alt="{{ player.name }}">
					<h3 class="player-name">{{ player.name }}</h3>
				{% endif %}
			</a>
		{% endfor %}
	</div>
</div>
<div id="small-screen-display" style="display: none;">
	<div class="row">
		{% assign players = site.data.teams.leagueoflegends["players"] %}
		{% for pname in players %}
			{% assign player = site.data.teams.leagueoflegends[pname] %}

			<div class="col-sm-4">
				<div class="player-image-small">
					<a href="{{ player.link | prepend: site.baseurl }}">
						<img src="{{ player.image | prepend: site.baseurl }}" alt="{{ player.name }}" />
						<h2>{{ player.name }}</h2>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<style>
	.recent-game {
		border-left: 1px solid rgb(40,40,40);
		border-right: 1px solid rgb(40,40,40);
	}

	.recent-game:hover {
		background-color: rgb(40,40,40);
	}

	.recent-game a:hover{
		text-decoration: none;
	}

	.info-message {
		background-color: rgb(20,20,20);
		padding: 25px;
		margin-bottom: 50px;
	}

	.info-message a:hover {
		color: rgb(200,200,200);
		text-decoration: none;
	}

	#player-container {
		position: relative;
	}

	#lol-top {
		position: absolute;
		display: inline;
		top: -600px;
		left: 100px;
	}
	#lol-top:hover {
		top: -622px !important;
		left: 85px !important;
	}

	#lol-jungle {
		position: absolute;
		display: inline;
		top: -500px;
		left: 250px;
	}
	#lol-jungle:hover {
		top: -525px !important;
		left: 235px !important;
	}

	#lol-mid {
		position: absolute;
		display: inline;
		top: -400px;
		left: 385px;
	}
	#lol-mid:hover {
		top: -422px !important;
		left: 370px !important;
	}

	#lol-adc {
		position: absolute;
		display: inline;
		top: -225px;
		left: 700px;
	}
	#lol-adc:hover {
		top: -325px !important;
		left: 685px !important;
	}

	#lol-support {
		position: absolute;
		display: inline;
		top: -235px;
		left: 550px;
	}
	#lol-support:hover {
		top: -335px !important;
		left: 535px !important;
	}

	.player-image-small {
		text-align: center;
		background-color: rgb(40,40,40);
	}
	.player-image-small img {
		width: 150px;
		height:225px;
	}
	.player-image-small a:hover {
		text-decoration: none;
	}
	.player-image-small h2 {
		background-color: rgb(20,20,20);
	}
	.player-image-small:hover {
		background-color: rgb(60,60,60);
	}


	.player-image {
		text-align: center;
	}
	.player-image:hover {
		text-decoration: none;
	}
	.player-image img {
		width: 150px;
		height:225px;
	}
	.player-image:hover img {
		width: 180px !important;
		height: 270px !important;
		background: radial-gradient(rgba(200,0,0,1), rgba(200,0,0,0) 80%);
		cursor: pointer;
	}
	.player-image h3 {
		display: none;
	}
	.player-image:hover h3 {
		display: block;
	}

	.player-name {
		color: #B91623 !important;
		text-shadow:
		    -1px -1px 0 #000,
		    1px -1px 0 #000,
		    -1px 1px 0 #000,
		    1px 1px 0 #000; 
	}
</style>

<script>
	$(function() {
		if(window.innerWidth < 1000) {
			$('#full-screen-display').css('display','none');
			$('#small-screen-display').css('display','block');
		}
	});
</script>